# DelimitAPI db
db/
# Reports
reports/
## CONFIG files
qa_line/config.py
doc_generator/config.py
municat_generator/config.py
run-config.txt
DelimitAPI/settings.py
# .env
.env
# staticfiles
staticfiles/
# Pycharm .idea
.idea/