# delimitapp db
db/
db.sqlite3
## CONFIG files
qa_line/config.py
doc_generator/config.py
municat_generator/config.py
run-config.txt
delimitapp/settings.py
# .env
.env
# Pycharm .idea
.idea/
# Py cache
**/__pycache__