html {
    height: 100%;
}
body {
    height: 100%;
}
.header {
    background-color: white;
    width: 100%;
    height: 15%;
}
.title-logo-udt {
    position: absolute;
    display: flex;
    left: 80%;
    top: 4%;
    bottom: 5%;
    gap: 10%;
    right: 2%;
}
.udt-title {
    font-style: italic;
}
.logo {
    position: absolute;
    left: 10%;
    top: 2%;
    bottom: 2%;
}
.title-container, .qa-line-container {
    position: relative;
    z-index: 2;
    padding-top: 2.2%;
    text-align: center;
}
.content-container{
    height: 80%;
    background: linear-gradient(#7F7F7F 50%, #F7F7F7 50%);
    overflow: hidden;
}
#title, #qa-line-label {
    font-weight: bold;
    color: white;
}
#sub-title {
    color: white;
}
.app-title{
    font-weight: bold;
    margin-top: 20px;
}
.qa-line-container {
    display: flex;
    gap: 15px;
    margin-top: -25px;
    justify-content: center;
}
.app-description {
    padding-left: 25px;
    padding-right: 25px;
}
.wrap-container {
    margin-top: -50px;
}
.report-wrap-container {
    margin-top: -30px;
}
.wrap-container, .report-wrap-container {
    height: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.wrap {
     border: 1px solid grey;
     background-color: white;
     box-shadow: 5px 5px grey;
}
.wrap-container > .wrap {
    width: 25%;
    height: 70%;
    text-align: center;
}
.report-wrap-container > .wrap {
    width: 40%;
    height: 80%;
    overflow: auto;
}
.error-message {
    color: red;
}
.message, .error-message {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}
#line-img {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
}
#package-img {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
}
.alert-messages {
    position: fixed;
    z-index: 10;
    width: 100%;
    text-align: center;
}
.btn {
    background-color: #535353 !important;
    border: 0.5px solid #535353 !important;
}
.footer {
    background-color: #7F7F7F;
    width: 100%;
    height: 5%;
    text-align: center;
    color: white;
    font-style: italic;
    padding-top: 0.2%;
}
.footer > a {
    color: white;
}