{% extends "base.html" %}
{% load static %}

{% block title_content %}
<div class="title-container">
    <h5 id="title">Cartes pels ajuntaments</h5>
    <pre id="sub-title">
        Procés per generar cartes pels Ajuntaments per notificar l'inici d'un expedient. És important assenyalar que de vegades pot ser
        necessari no executar tots els processos descrits a sota: pot ser que a vegades només es vulgui extreure informació del Municat,
        o transformar les cartes de format docx de Word a pdf. Per veure la documentació, fer click <a href="{% url 'docs-doc-generator' %}">aquí</a>.
    </pre>
</div>
{% endblock %}

{% block apps_content %}
<form>
    <pre class="expedient-type"> Tipus d'expedient </pre>
    <div class="expedient-type-container">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="expedient" id="inline-checkbox-1" value="rep">
          <label class="form-check-label" for="inline-checkbox-1">Replantejament</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="expedient" id="inline-checkbox-2" value="del" checked>
          <label class="form-check-label" for="inline-checkbox-2">Delimitació</label>
        </div>
    </div>
    <div class="letter-form-container">
        <button type="submit" class="btn btn-primary mb-2" formaction="{% url 'municat-data-extraction' %}">Extreure informació del Municat</button>
        <button type="submit" class="btn btn-primary mb-2" formaction="{% url 'doc-letter-generation' %}">Generar cartes en docx</button>
        <button type="submit" class="btn btn-primary mb-2" formaction="{% url 'pdf-letter-generation' %}" >Generar cartes en pdf</button>
        <button type="submit" class="btn btn-primary mb-2" formaction="{% url 'letter-removing' %}" >Esborrar cartes</button>
    </div>
</form>
<div class="alert-messages">
        {% include 'messages.html' %}
</div>
{% endblock %}
