{% extends "base.html" %}

{% block title_content %}
<div class="title-container">
    <h5 id="title">Control de qualitat d'una línia</h5>
    <pre id="sub-title">
        Procés que comprova la qualitat i veracitat dels trams i fites d'una línia de terme,
        prèvia càrrega a la base de dades.
    </pre>
</div>
{% endblock %}

{% block qa_line_content %}
<div class="qa-line-container">
    <form class="form-inline" action="{% url 'qa-line' %}" method="GET" id="line_form">
      <input type="number" class="form-control mb-2 mr-sm-2" id="line_id" placeholder="ID línia" name="line_id" value="{{ line_id }}">
      <button type="submit" class="btn btn-primary mb-2">Check</button>
    </form>
    <form action="{% url 'open-qgis' %}">
        <button type="submit" class="btn btn-primary mb-2">Obrir projecte QGIS</button>
    </form>
</div>
<div class="alert-messages">
    {% include 'messages.html' %}
</div>
<div class="report-wrap-container">
    <div class="wrap">
        {% block qa_line_reports %}
        {% endblock %}
    </div>
</div>
{% endblock %}
