{% extends "base.html" %}
{% load static %}

{% block title_content %}
<div class="title-container">
    <h3 id="title">Eines de Delimitació territorial</h3>
    <pre id="sub-title">
        Conjunt d'eines desenvolupades per l'Unitat de Delimitació territorial destinades a
        automatitzar fluxos de treball i assegurar la qualitat de les dades i informació que es genera. Per veure
        la documentació, fer click <a href="{% url 'docs-home' %}">aquí</a>.
    </pre>
    <div class="alert-messages">
        {% include 'messages.html' %}
    </div>
</div>
{% endblock %}

{% block apps_content %}
<div class="wrap-container">
    <div class="wrap">
        <a href="{% url 'qa-page' %}"><img id="line-img" src="{% static 'static/img/line.png' %}"/></a>
        <p class="app-title">Control de qualitat d'una línia</p>
        <p class="app-description">Procés que comprova la qualitat i veracitat dels trams i fites d'una línia de terme, prèvia càrrega a la base de dades.</p>
    </div>
    <div class="wrap">
        <a href="{% url 'municat' %}"><img id="package-img" src="{% static 'static/img/package.png' %}"/></a>
        <p class="app-title">Generador de Municat</p>
        <p class="app-description">Procés que genera automàticament el paquet de Municat d'una línia de terme, amb la seva MTT i geometries.</p>
    </div>
    <div class="wrap">
        <a href="{% url 'doc-generator-page' %}"><img id="document-img" src="{% static 'static/img/documents.png' %}"/></a>
        <p class="app-title">Generador de documents</p>
        <p class="app-description">Procés que genera automàticament un conjunt de documents de diferent tipologia, com són cartes pels ajuntaments
            o resol·lucions per publicar al DOGC.</p>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="footer">
    Per anar a eines anteriors, com l'aplicació del Ramiro, fer click <a href="{% static 'mark_app/public' %}">aquí</a>
</div>
{% endblock %}
